@page "/"

<PageTitle>Index</PageTitle>
<div style="display: flex; flex-direction: column;">
    <div style="margin: auto; margin-top: 5px; display: flex; min-width: 280px;">
        <button onclick="" style="margin: auto;flex: 1;">Pepsi</button>
        <button style="margin: auto;flex: 1;">Pepsi Max</button>
        <button style="margin: auto;flex: 1;">Water</button>
    </div>
    <div style="margin: auto; display: flex; min-width: 280px; font-size:14px;">
        <div style="margin: auto;flex: 1; display: flex;"><span style="margin:auto">10 kr</span></div>
        <div style="margin: auto;flex: 1; display: flex;"><span style="margin:auto">10 kr</span></div>
        <div style="margin: auto;flex: 1; display: flex;"><span style="margin:auto">10 kr</span></div>
    </div>
    <div style="margin: auto; margin-top: 5px; display: flex;  min-width: 280px;">
        <button style="margin: auto;flex: 1;">Protein bar</button>
        <button style="margin: auto;flex: 1;">Twix</button>
        <button style="margin: auto;flex: 1;">Snickers</button>
    </div>
    <div style="margin: auto; display: flex; min-width: 280px; font-size:14px;">
        <div style="margin: auto;flex: 1; display: flex;"><span style="margin:auto">10 kr</span></div>
        <div style="margin: auto;flex: 1; display: flex;"><span style="margin:auto">10 kr</span></div>
        <div style="margin: auto;flex: 1; display: flex;"><span style="margin:auto">10 kr</span></div>
    </div>
    <div style="margin: auto; margin-top: 5px; display: flex;  min-width: 280px;">
        <button style="margin: auto;flex: 1;">Wasa</button>
        <button style="margin: auto;flex: 1;">Chips</button>
        <button style="margin: auto;flex: 1;">Peanuts</button>
    </div>
    <div style="margin: auto; display: flex; min-width: 280px; font-size:14px;">
        <div style="margin: auto;flex: 1; display: flex;"><span style="margin:auto">10 kr</span></div>
        <div style="margin: auto;flex: 1; display: flex;"><span style="margin:auto">10 kr</span></div>
        <div style="margin: auto;flex: 1; display: flex;"><span style="margin:auto">10 kr</span></div>
    </div>
</div>
@code {
    private 
}